<p>client-list works!</p>
<h4>
    Client List:
</h4>

<div class="clientList">
    <ul>
        <li *ngFor="let client of clientList">
            <div *ngIf="!client.selected">
                <button id={{client.name}} (click)="onSelect(client.name)">Email them</button>
                {{ client.name }}
            </div>
        </li>
    </ul>
</div>
<div class="emailList">
    <h4>
        Email List:
    </h4>
    <ul>
        <li *ngFor="let client of clientList">
            <div *ngIf="client.selected">
                <button id={{client.name}} (click)="onRemove(client.name)">Remove</button>
                {{ client.name }}
            </div>
        </li>
    </ul>
</div>